* {
  margin: 0;
  padding: 0;
  /* border: 1px solid blue; */
}

/* LARGE SCREEN BASIC DESIGN */

body,
html {
  font-size: 100%;
  /* background-color: yellowgreen; */
  height: 100vh;
}

.bg-image {
  /* background-image: url("./grid-002.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: fixed;
  top: 20%;
  z-index: -1;
  width: 100%;
  height: 375px;
}

/* FIRST SECTION */
.first-section {
  background-image: url(./01-bg-grunge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar-flex-container {
  display: flex;
  padding: 3%;
}

.navlogo {
  width: 15%;
}

.navlist ul {
  display: flex;
  gap: 10%;
  width: 17em;
  color: #fff;
  text-transform: capitalize;
  list-style: none;
  margin-left: 30em;
  font-size: 19px;
}

.navlist li:hover {
  color: #fdfcfc4f;
}

/* Hero Section */
.hero-section {
  width: 70%;
  height: 65vh;
  margin-left: 15%;
}

.percent {
  background-color: #ff4400d2;
  color: #fff;
  aspect-ratio: 1/1;
  border-radius: 5em;
  width: 11%;
  position: relative;
  left: 72%;
  top: 3%;
}

.percent-child {
  position: relative;
  left: 33%;
  top: 30%;
  font-weight: 600;
  width: 40%;
}

.black-friday {
  padding-left: 18%;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  width: 65%;
  color: #fff;
  font-weight: 600;
}

.time {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  padding-left: 10%;
  font-weight: 600;
  color: #808080;
}

.time .days {
  width: 10px;
}

.discover {
  margin-left: 42%;
  margin-top: 3%;
  min-height: 14%;
  width: 16%;
  font-size: 12px;
  border: none;
  border-radius: 5%;
  color: #fff;
  text-transform: uppercase;
  background-color: #ff3c00;
}

.discover:hover {
  background-color: #d3d3d380;
  cursor: pointer;
}

/* SECOND SECTION */

.second-section-layout {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(./01-bg-grunge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: 20%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 40%);
  gap: 10px;
  height: 75vh;
  margin-left: 5%;
}

.second-section-layout1 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 19em;
  text-transform: capitalize;
  padding-left: 7%;
  color: #808080;
  font-size: 2vw;
  display: flex;
  align-items: flex-end;
}

.second-section-layout2 {
  background-image: url("./product-offer-002.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/6;
  border-radius: 5%;
  border-bottom-left-radius: 10em;
  margin-left: 35%;
  width: 24em;
}

.second-section-layout3 {
  grid-column: 1/2;
  grid-row: 3/4;
  text-transform: capitalize;
  padding-left: 7%;
  color: #808080;
  font-size: 2vw;
  display: flex;
  align-items: center;
}

.second-section-layout4 {
  grid-row: 4/5;
  text-transform: capitalize;
  padding-left: 7%;
  color: #808080;
  /* width: 34em;
  font-size: 1vw; */
}

.second-section-layout5 {
  grid-row: 5/6;
}

.second-section-layout5 button {
  margin-left: 4%;
  margin-top: 3%;
  min-height: 4em;
  width: 28%;
  font-size: 12px;
  border: none;
  border-radius: 5%;
  color: #fff;
  text-transform: capitalize;
  background-color: #ff3c00;
}

.second-section-layout5 button:hover {
  background-color: #d3d3d380;
  cursor: pointer;
}

/* THIRD SECTION */

.third-section {
  background-color: #00000080;
  height: 150vh;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}

.third-section-details {
  height: 80vh;
}

.third-section-details .white-line {
  width: 6%;
  height: 3px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.third-section-details .text {
  color: #fff;
  font-size: 2.8em;
  text-align: center;
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.third-section-details .email {
  margin-left: 22%;
  margin-top: 3%;
  padding-left: 3%;
  padding-bottom: 7px;
  color: #f5eeee;
  font-size: 1.2vw;
  width: 51%;
  height: 9%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #f0eaea;
}

/* .third-section-details input {
  background-color: transparent;
} */
.third-section-details button {
  margin-left: 43%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #ff4500;
  width: 13%;
  height: 3.5em;
  border: 1px solid transparent;
  border-radius: 5%;
  text-transform: capitalize;
  color: #fff;
}

.third-section-details button:hover {
  background-color: #eceaea;
  color: #000;
  cursor: pointer;
  transition: 2s;
}

.grid-container2 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  height: 9em;
  margin: 2%;
  border-radius: 10%;
}

.box:hover {
  cursor: pointer;
  border-radius: 4%;
}

.box1 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off {
  width: 19%;
  font-size: 20px;
  font-weight: 600;
}

.box2 {
  background-image: url(./grid-002.jpg);
  background-position: center;
  background-size: cover;
}

.box3 {
  background-image: url(./grid-004.jpg);
  background-position: center;
  background-size: cover;
}

.box4 {
  background-image: url(./grid-005.jpg);
  background-position: center;
  background-size: cover;
}

.box5 {
  background-color: blue;
  background-image: url(./grid-01.jpg);
  background-position: center;
  background-size: cover;
}

.box6 {
  background-image: url(./grid-0003.jpg);
  background-position: center;
  background-size: cover;
  height: 20em;
}

.box7 {
  background-color: #808080;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop7 {
  width: 19%;
  font-size: 20px;
  font-weight: 600;
}

.box8 {
  background-color: yellow;
  background-image: url(./grid-06.jpg);
  background-position: center;
  background-size: cover;
  height: 20em;
}

/* FOURTH SECTION */

.fourth-section {
  background-image: url("./01-bg-grunge.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.fourth-section-details {
}

.white-line2 {
  width: 5%;
  background-color: #fff;
  height: 3px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.fourth-section-details .text {
  color: #fff;
  font-size: 4vw;
  width: 58%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.boxcontainer {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 4%;
}

.product-box {
  border-radius: 4%;
  width: 40%;
  height: 365px;
  margin: 1%;
}

.product-box:hover {
}

.product1 {
  background-image: url("./shop-men-img.jpg");
  background-position: center;
  background-size: cover;
}

.product2 {
  background-image: url("./shop-women-img.jpg");
  background-position: center;
  background-size: cover;
}

.product-box p {
  color: #fff;
  font-size: 2vw;
  text-align: center;
  margin-top: 15%;
}

.product-box h4 {
  color: #fff;
  font-size: 2.6vw;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product-box button {
  margin: 3% 35%;
  background-color: #808080;
  border: 1px solid transparent;
  border-radius: 4%;
  color: #fff;
  outline: none;
  width: 30%;
  height: 45px;
}

.product-box button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.7s ease;
  cursor: pointer;
}

/* FIFTH SECTION */
.fifth-section {
  background-color: #00000080;
  margin-top: 15%;
}

.fifth-flex-container {
  display: flex;
  flex-direction: column;
}
.fifth-details {
}

.fifth-details .quote {
  color: #fff;
  font-size: 10vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

.fifth-details .fifth-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.3vw;
  width: 70%;
  color: #fff;
}

.fifth-name {
  color: #808080;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3%;
}

.fifth-image {
  background-color: #ff3c00;
  background-image: url("./testimonials-img\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  width: 88%;
  height: 27em;
  margin: 2% 5%;
}

.head-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.free {
  color: #fff;
  text-transform: capitalize;
  font-size: 2vw;
  margin-left: 20%;
}

.ex {
  color: #000;
  width: 70%;
  margin: 2% 20%;
}

.payment {
  margin-top: 3%;
}

.tracking {
  margin-top: 3%;
}

.return {
  margin-top: 3%;
}

/* SIXTH SECTION */
.sixth-section {
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin-top: 15%;
}
.deals {
  height: 98vh;
  border-bottom: 2px solid #a9a9a9;
}
.footer-line {
  width: 5%;
  background-color: #fff;
  height: 3px;
  margin-top: 13%;
  margin-left: auto;
  margin-right: auto;
}

.deals h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  text-align: center;
  text-transform: capitalize;
  font-size: 3vw;
  width: 50%;
  color: #fff;
}

.deals p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  font-size: 1.3vw;
  width: 70%;
  color: #fff;
}

.deals button {
  margin: 3% 43%;
  background-color: #808080;
  border: 1px solid transparent;
  text-transform: capitalize;
  border-radius: 4%;
  color: #fff;
  outline: none;
  width: 12%;
  height: 50px;
}
.footer-nav {
  display: flex;
  gap: 10%;
  width: 17em;
  color: #fff;
  text-transform: capitalize;
  list-style: none;
  margin-left: 35em;
  font-size: 19px;
  display: none;
}

.footer-nav ul li {
  list-style: none;
  margin-top: 2em;
}

.footer-nav li:hover {
  color: #fdfcfc4f;
  cursor: pointer;
}

.footer-nav li:nth-child(1):hover {
  color: #fff;
}

/* ------------------------------------------------------------------------------------------------------ */
/* MEDIA QUERY */
@media (max-width: 1200px) {
  body {
    /* background-color: blue; */
    height: 100vh;
  }
  /* FIRST SECTION */
  .percent {
    position: relative;
    left: 79%;
    top: 3%;
  }
  .black-friday {
    width: 70%;
  }

  .discover {
    min-height: 13%;
    width: 18%;
  }

  /* SECOND SECTION */
  .second-section-layout2 {
    margin-left: 20%;
  }

  .second-section-layout5 button {
    width: 33%;
  }

  /* THIRD SECTION */

  .third-section {
  }
  .third-section-details .text {
    width: 58%;
    font-size: 2.8em;
  }

  .third-section-details button {
    width: 13%;
  }
}

@media (max-width: 991px) {
  body {
    /* background-color: aqua; */
    height: 100vh;
  }

  .navlist ul {
    display: none;
  }

  .percent {
    left: 79%;
  }

  .percent-child {
    font-size: 13px;
  }

  .black-friday {
    font-size: 3.5em;
    margin-left: 10%;
    padding-left: 3px;
    width: 80%;
  }

  .discover {
    font-size: 12px;
    width: 20%;
    font-size: 11px;
  }

  /* SECOND SECTION */

  .grid {
    height: 70vh;
  }
  .second-section-layout2 {
    margin-left: 14%;
  }

  .second-section-layout5 button {
    width: 40%;
  }

  /* THIRD SECTION */

  .third-section-details .text {
    width: 64%;
    font-size: 2.4em;
  }

  .third-section-details .email {
    margin-left: 20%;
    width: 58%;
    font-size: 1em;
  }

  .third-section-details button {
    width: 14%;
  }

  .box6,
  .box8 {
    height: 15em;
  }

  /* FOURTH SECTION */

  .product-box p {
    margin-top: 27%;
  }

  /* FIFTH SECTION */

  .head-text {
    grid-template-columns: repeat(2, 50%);
  }

  .fifth-details .fifth-text {
    font-size: 2vw;
    width: 90%;
  }

  /* SIXTH SECTION */

  .footer-line {
    margin-top: 25%;
  }
}

@media (max-width: 768px) {
  body {
    /* background-color: brown; */
    height: 100vh;
  }

  .hero-section {
    padding-top: 10%;
  }

  .percent {
    width: 15%;
  }

  .percent-child {
    font-size: 13px;
  }

  .black-friday {
    padding-top: 1%;
    font-size: 2.7em;
    width: 80%;
  }

  .time {
    font-size: 13px;
    gap: 14%;
  }

  .discover {
    width: 24%;
    font-size: 10.5px;
  }

  /* SECOND SECTION */
  .second-section-layout {
    height: 580px;
    grid-template-columns: repeat(1, 50%);
  }

  .grid {
    height: 37em;
  }

  .second-section-layout1 {
    padding-left: 0%;
    font-size: 2.8vw;
  }

  .second-section-layout2 {
    grid-column: 1/2;
    grid-row: 3/10;
    margin-left: 0%;
    width: 20em;
    height: 17em;
  }

  .second-section-layout3 {
    grid-row: 9/10;
    width: 18em;
    padding-left: 0%;
    font-size: 2.9vw;
    margin-top: 11em;
  }

  .second-section-layout4 {
    grid-row: 10/11;
    width: 25em;
    padding-left: 0%;
  }

  .second-section-layout5 {
    grid-row: 11/12;
    margin-left: 0%;
    width: 25em;
    margin-bottom: 27%;
  }

  /* THIRD SECTION */

  .third-section {
    height: 150vh;
  }

  .third-section-details {
    padding-top: 11%;
  }
  .third-section-details .text {
    width: 67%;
    font-size: 2em;
  }

  .third-section-details button {
    width: 18%;
    margin-left: 40%;
  }

  .grid-container2 {
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3%;
    margin-left: 8%;
  }

  .box {
    height: 10em;
    width: 10em;
  }

  /* FOURTH SECTION */
  .boxcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-box {
    width: 50%;
  }

  /* FIFTH SECTION */
  .fifth-details .fifth-text {
    font-size: 2.5vw;
    width: 90%;
  }

  /* SIXTH SECTION */

  .deals p {
    font-size: 1.6vw;
  }

  .deals button {
    width: 20%;
    margin-left: 37%;
  }
}

@media (max-width: 617px) {
  body {
    /* background-color: lime; */
    height: 100vh;
  }

  .first-section {
    height: 78vh;
  }

  .percent {
    width: 18%;
    left: 75%;
  }
  .black-friday {
    font-size: 2em;
    width: 75%;
    margin-left: 17%;
  }

  .discover {
    font-size: 11px;
    margin-left: 35%;
    width: 39%;
  }

  /* SECOND SECTION */
  .second-section-layout {
    height: 580px;
  }
  .second-section-layout1 {
    font-size: 3.9vw;
  }
  .second-section-layout4 {
    width: 20em;
  }

  .second-section-layout3 {
    width: 18em;
    font-size: 3.6vw;
  }

  /* THIRD SECTION */
  .third-section {
    height: 190vh;
  }
  .third-section-details {
    height: 26%;
  }
  .third-section-details .white-line {
    margin-top: 4%;
  }
  .third-section-details .text {
    margin-top: 7%;
  }
  .third-section-details .email {
    width: 60%;
  }

  .third-section-details button {
    margin-top: 7%;
    width: 27%;
  }

  .third-section-details .text {
    width: 65%;
    font-size: 1.5em;
  }

  .grid-container2 {
    gap: 3px;

    margin-left: 0;
  }
  .box {
    width: 9em;
  }

  /* FOURTH SECTION */
  .product-box p {
    margin-top: 38%;
    font-size: 2.9vw;
  }

  .product-box button {
    width: 50%;
    margin-left: 25%;
  }

  /* FIFTH SECTION */
  .head-text {
    grid-template-columns: repeat(1, 98%);
  }
  .fifth-details .fifth-text {
    font-size: 3vw;
    width: 80%;
  }

  .free {
    font-size: 3vw;
  }

  /* SIXTH SECTION */

  .deals p {
    font-size: 1.8vw;
  }

  .deals button {
    width: 20%;
    margin-left: 37%;
  }
}

@media (max-width: 494px) {
  body {
    /* background-color: steelblue; */
    height: 100vh;
  }

  .black-friday {
    width: 100em;
  }

  .percent {
    left: 72%;
  }

  .percent-child {
    font-size: 10px;
  }

  .black-friday {
    width: 60%;
    font-size: 24px;
  }

  .time {
    margin-left: 4%;
    padding-left: 3%;
    font-size: 10px;
    width: 90%;
  }

  .discover {
    font-size: 10px;
    min-height: 40px;
  }

  /* SECOND SECTION */

  /* THIRD SECTION */
  .third-section-details .text {
    width: 75%;
  }

  .third-section-details button {
    width: 25%;
    margin-left: 38%;
  }

  /* FIFTH SECTION */
  .fifth-details .fifth-text {
    font-size: 3vw;
    width: 80%;
  }

  .free {
    font-size: 3vw;
  }

  /* SIXTH SECTION */

  .footer-nav ul li {
    list-style: none;
    margin-top: 2em;
    margin-left: 40%;
  }
  .footer-nav {
    display: contents;
  }
}

@media (max-width: 450px) {
  body {
    /* background-color: tomato; */
    height: 100vh;
  }
  .first-section {
    margin: 0;
    height: 65%;
  }
  .black-friday {
    width: 85%;
    margin-left: 3%;
    font-size: 34px;
  }
  .percent {
    left: 70%;
    width: 4em;
  }

  .time {
    font-size: 10px;
    padding-left: 3px;
    margin-left: 5%;
    margin-top: 3%;
  }

  .discover {
    width: 40%;
    font-size: 10px;
    margin-left: 30%;
  }

  /* SECOND SECTION */
  .second-section-layout {
    height: 560px;
  }
  .second-section-layout1 {
    font-size: 93%;
    width: 18em;
  }
  .second-section-layout2 {
    width: 15em;
  }

  .second-section-layout3 {
    font-size: 94%;
  }

  .second-section-layout4 {
    width: 15em;
  }

  .second-section-layout5 {
    width: 17em;
  }

  /* THIRD SECTION */

  .third-section-details {
    height: 23%;
  }

  .third-section-details .white-line {
    margin-top: -2%;
  }
  .third-section-details .text {
    font-size: 4.7vw;
    margin-top: 4%;
  }

  .third-section-details .email {
    font-size: 13px;
    padding-bottom: -10px;
    width: 74%;
    margin-left: 13%;
    margin-top: 8%;
  }

  .third-section-details button {
    width: 35%;
    margin-left: 35%;
    margin-top: 7%;
  }

  .grid-container2 {
    grid-template-columns: repeat(2, 1fr);
    height: 140vh;
  }
  .box {
    width: 8em;
    box-sizing: border-box;
  }

  /* FOURTH SECTION */
  .white-line2 {
    margin-top: 5%;
    width: 15%;
  }
  .fourth-section-details .text {
    margin-top: 5%;
    font-size: 5vw;
  }
  .product-box {
    width: 23em;
    margin: 5px;
    border-radius: 5%;
  }
  .product-box p {
    margin-top: 30%;
    font-size: 4.7vw;
  }

  .product-box h4 {
    font-size: 5vw;
  }

  .product-box button {
    height: 4em;
  }
  /* FIFTH SECTION */
  .fifth-details .fifth-text {
    font-size: 3vw;
    width: 80%;
  }

  .free {
    font-size: 3.4vw;
    margin-left: 5%;
  }

  .ex {
    margin-left: 5%;
  }
}
